<a href="https://colab.research.google.com/github/alexhuckabee/DS4E-2022/blob/main/2022_n1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

----- 1/25/22 -----

### Initialize Library

In [ ]:
import pandas as pd

Load data using pandas

In [ ]:
dftips = pd.read_csv("/content/drive/MyDrive/DS4E/Data/Tips/tips.csv")

See first 5 lines

In [ ]:
dftips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
dftips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
dftips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Describe and include all data type categories

In [ ]:
dftips.describe(include= "all")

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

## Bulid Linear Regression Model

Colon means give me all the rows

In [ ]:
X = dftips.loc[:, ['total_bill', 'size']]
Y = dftips.loc[:, ['tip']]

In [ ]:
Y.head()

    tip
0  1.01
1  1.66
2  3.50
3  3.31
4  3.61

In [ ]:
from sklearn.linear_model import LinearRegression

mdlreg = LinearRegression().fit(X, Y)

In [ ]:
mdlreg.coef_

array([[0.09271334, 0.19259779]])

In [ ]:
mdlreg.intercept_

array([0.66894474])

### Regression Equation

Tip = 0.66894474 + 0.09271334 x Total_Bill + 0.19259779 x Size

In [ ]:
new_total_bill = 45.25
new_size = 4

In [ ]:
mdlreg.predict([[new_total_bill, new_size]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[5.63461441]])

This solution process is not the best idea, there are better ways to go about this problem - will go over better ways in class on Thursday